<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
  </div>

  <div class="header-badge">
    <a href="{{ site.baseurl }}/">
        <img src="/assets/header-icon.png" />
    </a>
  </div>
    
</header>
